<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty scope="context" name="spring.application.name" source="spring.application.name" />
	<springProperty scope="context" name="spring.profiles.active" source="spring.profiles.active" />
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t,%X{X-B3-TraceId},%X{X-B3-SpanId})] %yellow(%C{1.}): %msg%n%throwable
			</Pattern>
		</layout>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

	<!--logger name="org.hibernate.type" additivity="false" >
		<level value="TRACE" />
		<appender-ref ref="CONSOLE" />
	</logger-->

</configuration>